/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.hidden {
  opacity: 3.2;
}
#custom-archIcon{
color: #ffffff;
}
/* - Genera rules for visible modules -- */
#clock,
#custom-linuxIcon,
#custom-network-traffic,
#custom-midia,
#memory,
#cpu,
#battery,
#temperature,
#pulseaudio,
#idle_inhibitor {
  background-color: #000000;
  color: #ffffff;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  border-radius: 20px;
}

#custom-linuxIcon,
#network {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 15px;
  padding-right: 20px;
  transition: none;
  border-radius: 20px;
  background-color: #000000;
  color: #ffffff;
}

#custom-linuxIcon {
  margin-left: 20px;
}

#clock {
  margin-right: 20px;
}

#custom-archIcon,
#workspaces,
#group-ws {
  color: #000000;
  background: #333333;
  border-radius: 20px;
  margin: 6px 8px;
  padding: 0px 20px;
}

#workspaces button {
  color: #ffffff;
  background: transparent;
  padding: 4px 4px;
  transition:
    color 0.5s ease,
    text-shadow 0.5s ease,
    transform 0.5s ease;
}

#workspaces button.occupied {
  color: #a6e3a1;
}

#workspaces button.active {
  color: #89b4fa;
  text-shadow: 0 4px #abe9b3;
}

#workspaces button:hover {
  color: #89b4fa;
}

/*taskbar###########*/
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}
